#header {
    background: rgb(22, 22, 174);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
   
}

body {
    font-family: Arial;
    font-size: 20px;
    color: black;
}


#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;

}

#container h1 {
    font-size: 20px;
}


#footer{
    background: rgba(9, 9, 254, 0.615);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
   
}